.App {
  text-align: center;
}

.button_label {
  color: black;
}

.subtitle {
  text-align: left;
}

.description_label {
  justify-content: space-between;
}

.btn-check:checked+.btn-outline-dark {
  background-color: #ed8e53 !important;
}